---
// Footer.astro
---
<footer class="bg-[#b98c66] text-white py-6">
    <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center">
        <p class="text-sm mb-4 md:mb-0">&copy; {new Date().getFullYear()} Fée au Tour. Tous droits réservés.</p>

    </div>
</footer>
